:root {
  --main-bg-color: black;
  --main-font-color: white;
}

@font-face { 
  font-family: gothic-md; 
  src: url('./fonts/GothicA1-Medium.ttf'); 
}

@font-face { 
  font-family: gothic-light; 
  src: url('./fonts/GothicA1-Light.ttf'); 
}

#root {
  font-family: gothic-light;
  color: var(--main-font-color);
  background-color: var(--main-bg-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  height: 100vh;
  overflow:'hidden'
}
